
{% extends "StudySphere/layout.html" %}
{% block body %}
<form class="container center  my-2 p-2" id="add-vid-form">
    <h5 class="my-2">Video URL: </h5>
    <input type="text" id="vid-url" class="w-100" required>
    <h5 class="my-2">Title: </h5>
    <input type="text" id="vid-title" class="w-100" required>
    <h5 class="my-2">Description: </h5>
    <textarea id="desc" name="" id="" class="w-100" rows="5" required></textarea>

    <h5 class="my-2">Topics Covered: </h5>
    <p class="my-2 error" id="topic-msg"></p>

    <div id="add-topic">
        {% for tp in topics %}
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="topics" value="{{tp.name}}">
            <label class="form-check-label" for="inlineCheckbox">{{tp.name}}</label>
        </div>
        {% endfor %}
    </div>

    <div id="add-new-topic" class="d-none">
        <input type="text" id="new-topic-name" class="w-100 my-2" >
        <button type="button" class="btn btn-primary mt-2" onclick="SaveTopic()">Save</button>
    </div>
    <p class="my-2 error" id="add-new-topic-msg"></p>

    <button id="new-topic-btn" type="button" class="btn btn-primary mt-2 d-block" onclick="ShowInpt()">Add New Topic</button>

    <h5 class="my-2">Teachers: </h5>
    <p class="my-2 error" id="teacher-msg"></p>
    {% for t in tea %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="{{t.username}}" name="teachers">
        <label class="form-check-label" for="flexCheckDefault">{{t.username}}</label>
    </div>
    {% endfor %}
    
    <h5 class="my-2">Students Access: </h5>
    <p class="my-2 error" id="student-msg"></p>
    {% for s in stu %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="{{s.username}}" name="students">
        <label class="form-check-label" for="flexCheckDefault">{{s.username}}</label>
    </div>
    {% endfor %}
    
    <h5 class="my-2">Class Date: </h5>
    <input type="date" id="vid-cls-date" class="w-100" required>



    <button type="submit" class="btn btn-primary mt-2">Submit</button>

</form>
    

{% endblock %}

{% block script %}
{% load static %}
    <script src="{% static 'StudySphere/js/add.js' %}"></script>
{% endblock %}
        