{% extends "StudySphere/layout.html" %}

{% block title %}Change Password {% endblock %}

{% block body %}
    <div class="row justify-content-center">

        <div class="col col-sm-8 col-md-6 col-lg-5 d-flex flex-column align-self-center justify-content-center border rounded py-4 my-0 my-sm-4">

            <h2 class="text-center title pt-1 pb-3">Change Password</h2>

            {% for message in messages %}
                <div class="mx-4 alert {{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            <form action="{% url 'change_password' %}" method="POST" class="px-4">
                {% csrf_token %}

                <div class="form-group my-2">
                    <label name="old_password" for="">Current password:</label>    
                    <input type="password" name="old_password" autocomplete="current-password" class="form-control my-2" required id="id_old_password">
                </div>

                <div class="form-group my-2">
                    <label name="new_password1" for="">New password:</label>    
                    <small>
                        <ul>
                            <li>Your password can't be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can't be a commonly used password.</li>
                            <li>Your password can't be entirely numeric.</li>
                        </ul>
                    </small>
                    <input type="password" name="new_password1" autocomplete="new-password" class="form-control my-2" required id="id_new_password1">
                </div>

                <div class="form-group my-2">
                    <label name="new_password2" for="">Confirm new password:</label>    
                    <input type="password" name="new_password2" autocomplete="new-password" class="form-control my-2" required id="id_new_password2">
                </div>

                <div class="text-center">
                    <input class="btn btn-primary w-100 my-2" type="submit" value="Save">
                </div>

            </form>
        </div>
    </div>

{% endblock %}





