.my-navbar{
  background: radial-gradient(circle at 10% 80%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
}
#basic-nav-dropdown{
  color: white;
}

.video-responsive {
  margin-top: 20px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  .bg-gradient-secondary {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    background-color: #cfcfcf; /* Fallback color */
  }

  .bell-icon {
    position: absolute;
    top: 14px;
    right: 20px;
    padding: 0 1rem;
    z-index: 1000;
  }

  .notification-item {
    border-bottom: 1px solid #304c68;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .notification-count {
    position: absolute;
    top: 6px;
    right: -1px;
    transform: translate(50%, -50%);
    z-index: -1;
  }

.usr-icon{
  margin-top: .8rem !important;
  padding-left: 1px;
}

.fw-bold{
  font-weight: bold;
}

#add-vid-form{
  width:38%;
}

.layout-nav {
background-color: #ececec;
}
#video-details-mobile {
display: none;
}

.error{
  color: red;
}
.text-danger {
color: #dc3545 !important;
}
.mx-16{
  margin-right: 16rem !important;
  margin-left: 16rem !important;
}
.me-15{
  margin-right: 15rem !important;
}

.btn:focus{
  outline: none;
}

.heart,.heart:hover{
  color: red;
  height: 2rem;
  width: 4.5rem;
}

.solid-heart {
  scale: 1.5;
}

.regular-heart {
  scale: 1;
}

.top-1{
top: 10px !important;
}

.w-20{
  width: 22% !important;
  margin-left: 37.5rem;
}
.brand-name{
  height: 3rem;
width: 4rem;
}
.login-icon{
  height: 7rem;
width: 12rem;
}

.card-subtext{
  height: 3.5rem;
  background-color: #e6e6e6;
}

.card-text{
  height: 2.5rem;
}
.card-icon{
  scale: .8;
}
.card-img-top{
height: 162px;
}
.shadow-m {
box-shadow: 0 0.3rem .85rem rgba(0,0,0,.075) !important;
}
.video-container {
  /* position: relative; */
  /* padding-bottom: 56.25%; */
  height: 100%;
  /* overflow: hidden; */
  max-width: 100%;
}

#post-comm{
width: 50rem;
}

.comment-item {
  padding-bottom: 1rem;
}
.text-muted {
  color: #6c757d !important;
}

.circular-picture {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.dropdown-menu {
  right: 0;
  left: auto !important;
}





@media (max-width: 992px) {
  .my-navbar .navbar-brand {
    display: none;
  }
  .my-navbar .navbar-collapse {
    order: 1;
  }
  .my-navbar .navbar-toggler {
    order: 2;
  }
}

@media screen and (max-width: 992px) {
  .brand-name {
      display: none;
    }
    #unread{
      position: absolute;
      top: 10px;
      right: 0px;
    }
  }



@media(max-width:940px){
  iframe{
    height: 400px;
  }
  #post-comm{
    width: 30rem;
  }
}

@media (min-width:811px){
  #search{
    width: 336px;
  }
}

@media (max-width:810px){
  #search{
    width: 256px;
  }
}

@media (min-width: 768px) { 
  .video-page-title h1 {
      font-size: 2rem;
  }

}

@media (min-width: 576px) { 
  .videopage-icons {
      flex-direction: row;
      justify-content:space-between;
  }

  
}

@media (max-width: 576px) {
#video-details-mobile {
  display: block;
}
#post-comm{
  width: 15rem;
}
}

